html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0px;
  display: grid;
  grid-template-rows: 0.25fr 0.15fr 1fr 0.25fr;
}
.grid {
  display: grid;
}

.gameBoards {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  margin: 10px;
}

#gameboard1 {
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

#gameboard2 {
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.gameboardCell {
  border: 2px solid black;
}

.border {
  border: solid black 2px;
}

footer {
  grid-row: -1;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.miss {
  background-color: yellow;
}

.hit {
  background-color: blueviolet;
}